<!DOCTYPE html>

<html>
    <head>
        <title>TrainingTogether</title>
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>
    <body>
        <h1> Register </h1>
    <form action="/register" method="post">
        <input name="name" placeholder="Name" type="text" autofocus>
        <input name="email" placeholder="Email Address" type="email" required>
        <select name="goal">
            <option disabled selected ="Your Goals">Your Goals</option>
            <option value="Build Muscle">Build Muscle</option>
            <option value="Loss Weight">Loss Weight</option>
        </select>
        <input type="submit" value="Register">
    </form>
    </body>
</html>
